
* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	/*outline: 1px solid red;*/
	color: black;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

body {
	background: #005AA3;
	text-align: center;
}

.siteHeader {
	color: #FFFFFF;
}

.pageContainer, .siteFooter {
	width: 960px;
	margin: auto;
	background: #FFFFFF;
	padding: 10px;
}

.pageContainer, .siteFooter {
	margin-top: 20px;
}

.pageHeader {
	height: 71px;
}

.logo {
	width: 316px;
	height: 71px;
	float: left;
}

.nav {
	width: 624px;
	height: 71px;	
	text-align: center;
	float: left;
}

.nav ul {
	display: inline;
	margin: auto;

}

.nav ul li {
	padding: 10px;
	display: inline;
}

.nav ul li a {
	color: #13a2d8; 
	font-size: 20px;
}

.hero {
	margin: auto;
	width: 874px;
	height: 400px;	
}

.hero > img {
	padding-top: 10px;
	margin-left: 40%;

}

.features {
	height: 395px;
	margin-top: 20px;
}

.featuresBox1 {
	padding: 10px;
	width: 295px;
	float: left;
	margin: 5px;
	height: 380px;
}

.featuresBox1 > p {
	padding: 10px;
}

.featuresBox2 {
	padding: 10px;
	width: 295px;
	float: left;
	margin: 5px;
	height: 380px;
}

.featuresBox2 > p {
	padding: 10px;
}

.featuresBox3 {
	padding: 10px;
	width: 295px;
	float: left;
	margin: 5px;
	height: 380px;
}

.featuresBox3 > p {
	padding: 10px;
}

.featuresBox3 > p > img {
	margin-right: 0;
	float: right;
}

.featBox1Img1 {
	height: 245px;
	width: 275px;
}

.featBox2Img2 {
	height: 245px;
	width: 275px;
}

.featBox3Img3 {
	height: 245px;
	width: 275px;
}

.content {
	min-height: 300px;
}

.contentImg {
	width: 875px;
	height: 510px;
	margin: auto;
}

.contentVideo {
	padding-top: 20px;
	height: 458px;
	width: 785px;
	margin-left: 75px;
}

.pageFooter {
	height: 46px;
}

.pageFooterImg {
	float: right;
}

.siteFooter {
	margin: auto;
	background: #005AA3;
	font-size: 12px;
	height: 40px;
}

.siteFooterLeft {
	width: 300px;
	color: #FFFFFF;
	float: left;
}

.siteFooterLeft a {
	color: #FFFFFF;
}

.siteFooterCenter {
	text-align: center;
	color: #FFFFFF;
	float: left;
}

.siteFooterCenter a {
	color: #FFFFFF;
}

.siteFooterRight {
	text-align: center;
	width: 440px;
	float: left;
	display: inline;
	color: #FFFFFF;
 	
}

.siteFooterRight ul {
	display: inline;
	margin: auto;

}

.siteFooterRight ul li {
	padding: 10px;
	display: inline;
}

.siteFooterRight ul li a {
	color: #FFFFFF; 
}